<div class="homepage-container withbackground" id="about-us" dir="rtl">
  <p class="section-title">من نحن</p>
  <p class="main-text">من نحن؟</p>
  <div class="content">
    <div>
      <p>
        مرحباً بكم في <strong>نظام إدارة الرخص</strong>، شريككم الموثوق في تبسيط
        رحلة الحصول على رخصة القيادة.
      </p>
      <p>
        نحن ملتزمون بتقديم تجربة سلسة وفعالة، نوفر فيها كل ما تحتاجونه - بدءاً
        من الإرشادات حول عملية الترخيص وصولاً إلى التحديثات الفورية لحالة طلبكم.
      </p>
      <p>
        مهمتنا تمكين الأفراد من خلال جعل عملية إصدار رخصة القيادة شفافة، سهلة
        الاستخدام، ومتاحة للجميع. سواء كنتم متقدمين لأول مرة أو تجددون رخصتكم،
        نحن هنا لمساعدتكم في كل خطوة على الطريق.
      </p>
    </div>
    <ul>
      <li>
        <span>✔</span>
        عملية تقديم سريعة وآمنة.
      </li>
      <li>
        <span>✔</span>
        تحديثات فورية لحالة الرخصة.
      </li>
      <li>
        <span>✔</span>
        إرشادات ودعم شامل.
      </li>
      <li>
        <span>✔</span>
        متاح للمتقدمين لأول مرة وللتجديد.
      </li>
    </ul>
  </div>
</div>
